*{
    margin: 0;
    padding: 0;
}
body{
    position: relative;
}
.logo{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.logo img{
    height: 150px;
    margin-top: 10px;
}
.logo  .uni-head h2{
    font-family:  'corintha',cursive;
    text-decoration: none;
  
}
.logo .uni-head .first{
    text-transform: capitalize;
    font-family:  'corintha',cursive;
    text-transform: capitalize;
    font-size: 50px;
    color: red;
}

#nav{
    background: black;
    margin-bottom: 0px;
    transition:0.6s;
}
#nav ul{
    display: flex;
    gap: 2rem;
    margin-left: 20px;
   margin-top: 20px;
   margin-bottom: 20px;

   
}
#nav li{
    list-style-type: none;
}
#nav ul li a{
    text-transform: capitalize;
    text-decoration: none;
    color: red;
    padding: 20px;

    font-size: 20px;
}
#nav ul li a:hover{
    color: white;
    background:grey;
    
}
.affix {
    top:0;
    width: 100%;
    z-index: 1 !important;
    margin-bottom:0 ;
  }

.college img{
width: 100%;
object-fit: cover;
}
.footer{
    display: flex;
    justify-content: space-between;
    background:black ;
}
.footer .stay-connection{
   
    margin-top: 30px;
}
.footer .stay-connection h3{
    text-align: center;
    color: blanchedalmond;
    margin-bottom: 30px;
    text-transform: capitalize;
    margin-left: 30px;
    font-size: 25px;
    border-bottom: 1px solid blanchedalmond;
    padding-bottom: 20px;
}
.footer .stay-connection a{
    display: block;
    margin-left: 30px;
    text-decoration: none;
    color: blanchedalmond;
    margin-bottom: 30px;
    font-size: 20px;
}
.footer .stay-connection a i{
    margin-right: 10px;
}
.footer .stay-connection a:hover i{
    color: red;
}
.footer .college-map{
  margin: 30px 30px 30px 0px;
}
.footer .college-map h3{
    color: blanchedalmond;
    margin-bottom: 30px;
    font-size: 25px;
    text-transform: capitalize;
    text-align: center;
    border-bottom: 1px solid blanchedalmond;
    padding-bottom: 20px;
}
.body-section{
 display: flex;
 justify-content: center;
 align-items: center;
margin-top: 0px;
 height: 80vh;
 background: rgba(100, 148, 237, 0.466);
}
.body-section .contact h2{
    color:darkgray;
    margin-bottom: 30px;
    font-size: 40px;
    text-transform: capitalize;
    text-align: center;
    border-bottom: 1px solid blanchedalmond;
    padding-bottom: 20px;

}
.body-section .contact .p{
    font-size: 20px;
background: none;
border: none;
}
